<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smart_band">

    <!-- 인터넷 및 실시간 위치 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 알림 표시 권한 (Android 13 이상 필수) 및 진동/화면 켜기 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- 백그라운드 포그라운드 서비스 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- 위치 서비스(GPS) 하드웨어 기능 사용 선언 -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:label="smart_band"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- flutter_background_service 서비스 최신 태그 등록 -->
        <service
            android:name="id.flutter.flutter_background_service.BackgroundService"
            android:foregroundServiceType="dataSync"
            android:enabled="true"
            android:exported="true" />

        <!-- 구글 지도 API 키 설정 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKegyXnHnrWsOE-gL-jlud8uUWFCGaQRY"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>